$themeColor: #ff7a18;
$themeHoverColor: #e8620a;
$textColor: #3a2a20;
$borderColor: #efdfd1;
$lightGray: #fffbf7;

$boxShadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);

$transitionDelay: .2s;
$transitionDelayFast: .1s;
$transitionDelaySlow: .3s;

$borderRadius: 2px;